<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml"
      xmlns:x-transition="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src=" https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>
<body x-data="{open : false}">
    <nav class="bg-gray-500">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-1 w-64 text-center text-white place-items-stretch text-3xl">My TODOs</div>
                    <button
                        class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                        @click="open = !open"
                        hx-get="/openCreatEditModal"
                        hx-target="#modalCreateTask"
                        hx-swap="innerHTML"
                    >
                        Create New Task
                    </button>
                </div>
            </div>
        </div>
    </nav>

     <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10" id="all_task">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    No.
                </th>
                <th scope="col" class="px-6 py-3">
                    Task to be Perform
                </th>
                <th scope="col" class="px-6 py-3"></th>
                <th scope="col" class="px-6 py-3"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" th:each="task, iter : ${tasks}">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" th:text="${iter.count}"></td>
                <td class="px-6 py-4" th:text="${task.value}"></td>
                <td
                        class="px-6 py-4 font-medium text-white"
                        th:attr="hx-post='/delete?taskID='+${task.key}"
                >
                    <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</div>
                </td>
                <th scope="col" class="px-6 py-3"></th>
                <td
                        class="px-6 py-4 font-medium text-white"
                        @click="open = !open"
                        th:attr="hx-get='/openCreatEditModal?taskID='+${task.key}"
                        hx-target="#modalCreateTask"
                        hx-swap="innerHTML"
                >
                    <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="modalCreateTask"></div>

</body>
</html>