<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home Page</title>
    <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css">
</head>
<body>

<p class="test">
    Hello world!
</p>

<table class="border border-collapse">
    <thead>
        <tr>
            <th class="test">No.</th>
            <th>Task to be Perform</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.key}+1"></td>
            <td th:text="${task.value}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>