<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:x-on="http://www.w3.org/1999/xhtml"
      xmlns:x-transition="http://www.w3.org/1999/xhtml" lang="en">
    <head th:fragment="header(title)">
        <title th:replace="${title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.min.js"></script>
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script defer src=" https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    </head>
</html>