<nav class="bg-white" th:fragment="navbar" xmlns:x-transition="http://www.w3.org/1999/xhtml">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-1 w-64 text-left text-black place-items-stretch text-3xl">My TODOs</div>
            </div>
        </div>
        <div class="relative" x-data="{isOpen: false}">
            <button type="button" class="inline-flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900" @click="isOpen = !isOpen" aria-expanded="false" :aria-expanded="isOpen.toString()">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>

            <div x-show="isOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 translate-y-1" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in duration-150" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-1" x-description="Flyout menu, show/hide based on flyout menu state." class="absolute left-1/2 z-10 mt-5 flex -translate-x-1/2 px-4 w-max" x-ref="panel" @click.away="isOpen = false">
                <div class="rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
                    <div class="p-4">
                        <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                            <button
                                    type="button"
                                    @click="openSaveTaskModal = !openSaveTaskModal, isOpen = false"
                                    hx-get="/openCreateTaskModal"
                                    hx-target="#modalCreateTask"
                                    hx-swap="innerHTML"
                            >
                                + Add New
                            </button>
                        </div>
                        <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                            <button
                                    type="button"
                                    hx-trigger="click"
                                    hx-get="/completed_tasks"
                                    hx-target="#taskTable"
                                    hx-swap="innerHTML"
                                    @click="isOpen = false"
                                    hx-replace-url="/completed_tasks"
                            >
                                All Completed Tasks
                            </button>
                        </div>
                        <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                            <a type="button"
                               hx-trigger="click"
                               hx-get="/uncompleted_tasks"
                               hx-target="#taskTable"
                               hx-swap="innerHTML"
                               @click="isOpen = false"
                               hx-replace-url="/uncompleted_tasks">All UnCompleted Tasks</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>